In [3]:
#importing packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
#read the csv files
df = pd.read_csv("admission.csv")
df

     Sno  Gre  Toefl  Rating  Sop  Lor  Cgpa  Research  Chance
0      1  337    118       4  4.5  4.5  9.65         1    0.92
1      2  324    107       4  4.0  4.5  8.87         1    0.76
2      3  316    104       3  3.0  3.5  8.00         1    0.72
3      4  322    110       3  3.5  2.5  8.67         1    0.80
4      5  314    103       2  2.0  3.0  8.21         0    0.65
..   ...  ...    ...     ...  ...  ...   ...       ...     ...
495  496  332    108       5  4.5  4.0  9.02         1    0.87
496  497  337    117       5  5.0  5.0  9.87         1    0.96
497  498  330    120       5  4.5  5.0  9.56         1    0.93
498  499  312    103       4  4.0  5.0  8.43         0    0.73
499  500  327    113       4  4.5  4.5  9.04         0    0.84

[500 rows x 9 columns]

In [5]:
X = df[['Gre', 'Toefl','Rating', 'Sop', 'Lor', 'Cgpa', 'Research']]
X

     Gre  Toefl  Toefl  Rating  Sop  Lor  Cgpa  Research
0    337    118    118       4  4.5  4.5  9.65         1
1    324    107    107       4  4.0  4.5  8.87         1
2    316    104    104       3  3.0  3.5  8.00         1
3    322    110    110       3  3.5  2.5  8.67         1
4    314    103    103       2  2.0  3.0  8.21         0
..   ...    ...    ...     ...  ...  ...   ...       ...
495  332    108    108       5  4.5  4.0  9.02         1
496  337    117    117       5  5.0  5.0  9.87         1
497  330    120    120       5  4.5  5.0  9.56         1
498  312    103    103       4  4.0  5.0  8.43         0
499  327    113    113       4  4.5  4.5  9.04         0

[500 rows x 8 columns]

In [6]:
Y = df[['Chance']]
Y

     Chance
0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
..      ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84

[500 rows x 1 columns]

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0) 
Linear_Reg = LinearRegression() #sklearn.linear_model.LinearRegression
Linear_Reg.fit(X_train, Y_train)

LinearRegression()

In [9]:
#checking score   (same as above 2)
print("Train score:",Linear_Reg.score(X_train,Y_train)) 
print("Test score:",Linear_Reg.score(X_test,Y_test))

Train score: 0.8320945273130534
Test score: 0.7664048993199384

In [10]:
pd.to_pickle(Linear_Reg,'admission_prediction.pickle') #creating a pickle file for future use of predicition algo